# Environnements Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Fichiers de script Windows générés
*.vbs

# Dossiers temporaires
temp/
tmp/

# Dossiers de modèles
outputs/
models/

# Fichiers de logs
*.log

# Fichiers d'environnement
.env
.venv

# Fichiers système
.DS_Store
Thumbs.db
